<!DOCTYPE html>
<html lang="en">

  {{> header title=title }}

  <body>
    <div class="container col-xs-12 col-md-8 col-md-offset-2">
      <header>
        <a href="http://aws.amazon.com/what-is-cloud-computing"><img src="{{staticURL}}assets/img/375px-AWS_Logo_Web-Black.png" alt="Powered by AWS Cloud Computing" class="pull-right" id="aws_header_logo"></a>
        <p><a href="{{#if basePath}}{{basePath}}{{else}}/{{/if}}">Landsat on AWS</a> / <a href="{{basePath}}/L8">L8</a> / {{path}}</p>
        <h1>Landsat Rows for Path {{path}}</h1>
      </header>
      <ul class="landsat_nav_list">
        {{#prs}}
          <li><a href="{{../basePath}}/L8/{{../path}}/{{.}}/">{{.}}</a></li>
        {{/prs}}
      </ul>

      {{> footer}}

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{staticURL}}assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
